./Model/bin
./Model/obj
./Control/bin
./Control/obj
./View/bin
./View/obj
Model/obj/Model.csproj.nuget.dgspec.json
Model/obj/Model.csproj.nuget.g.props
Model/obj/Model.csproj.nuget.g.targets
Model/obj/project.assets.json
Model/obj/project.nuget.cache
Model/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Model/obj/Debug/netcoreapp3.1/Model.AssemblyInfo.cs
Model/obj/Debug/netcoreapp3.1/Model.AssemblyInfoInputs.cache
Model/obj/Debug/netcoreapp3.1/Model.assets.cache
Model/obj/Debug/netcoreapp3.1/Model.csproj.CoreCompileInputs.cache
Model/obj/Debug/netcoreapp3.1/Model.csproj.FileListAbsolute.txt
Model/obj/Debug/netcoreapp3.1/Model.csprojAssemblyReference.cache
Model/obj/Debug/netcoreapp3.1/Model.dll
Model/obj/Debug/netcoreapp3.1/Model.pdb
View/obj/project.assets.json
View/obj/project.nuget.cache
View/obj/View.csproj.nuget.dgspec.json
View/obj/View.csproj.nuget.g.props
View/obj/View.csproj.nuget.g.targets
View/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
View/obj/Debug/netcoreapp3.1/project.razor.json
View/obj/Debug/netcoreapp3.1/View
View/obj/Debug/netcoreapp3.1/View.AssemblyInfo.cs
View/obj/Debug/netcoreapp3.1/View.AssemblyInfoInputs.cache
View/obj/Debug/netcoreapp3.1/View.assets.cache
View/obj/Debug/netcoreapp3.1/View.csproj.CopyComplete
View/obj/Debug/netcoreapp3.1/View.csproj.CoreCompileInputs.cache
View/obj/Debug/netcoreapp3.1/View.csproj.FileListAbsolute.txt
View/obj/Debug/netcoreapp3.1/View.csprojAssemblyReference.cache
View/obj/Debug/netcoreapp3.1/View.dll
View/obj/Debug/netcoreapp3.1/View.genruntimeconfig.cache
View/obj/Debug/netcoreapp3.1/View.MvcApplicationPartsAssemblyInfo.cache
View/obj/Debug/netcoreapp3.1/View.pdb
View/obj/Debug/netcoreapp3.1/View.RazorAssemblyInfo.cache
View/obj/Debug/netcoreapp3.1/View.RazorAssemblyInfo.cs
View/obj/Debug/netcoreapp3.1/View.RazorCoreGenerate.cache
View/obj/Debug/netcoreapp3.1/View.RazorTargetAssemblyInfo.cache
View/obj/Debug/netcoreapp3.1/View.RazorTargetAssemblyInfo.cs
View/obj/Debug/netcoreapp3.1/View.TagHelpers.input.cache
View/obj/Debug/netcoreapp3.1/View.TagHelpers.output.cache
View/obj/Debug/netcoreapp3.1/View.Views.dll
View/obj/Debug/netcoreapp3.1/View.Views.pdb
View/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewImports.cshtml.g.cs
View/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewStart.cshtml.g.cs
View/obj/Debug/netcoreapp3.1/Razor/Pages/Error.cshtml.g.cs
View/obj/Debug/netcoreapp3.1/Razor/Pages/Index.cshtml.g.cs
View/obj/Debug/netcoreapp3.1/Razor/Pages/Privacy.cshtml.g.cs
View/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
View/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
View/obj/Debug/netcoreapp3.1/staticwebassets/View.StaticWebAssets.Manifest.cache
View/obj/Debug/netcoreapp3.1/staticwebassets/View.StaticWebAssets.xml
Control/obj/Control.csproj.nuget.dgspec.json
Control/obj/Control.csproj.nuget.g.props
Control/obj/Control.csproj.nuget.g.targets
Control/obj/project.assets.json
Control/obj/project.nuget.cache
Control/obj/Debug/netcoreapp3.1/Control.assets.cache
Control/obj/Debug/netcoreapp3.1/Control.csproj.FileListAbsolute.txt
