@page
@model IndexModel


<div class="text-center">
    <a asp-page= "StudentIndex" class= "btn btn-outline-success"> Como Usuario</a>
    <a asp-page= "Login" class= "btn btn-outline-success"> Como encustador y calificador</a>
</div>