@page
@model Proyecto.ProfileModel
@{
    Layout = "_Layout";
}


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="@Url.Content("img/aplicacion-becas-benito-juarez.jpg")" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Becas de descuento</h5>
    <p class="card-text">Aplica para la beca de descuento 
        academico que puede reducir un porcentaje de tu inscripcion </p>
<<<<<<< HEAD
        <a href="@Url.Page("Registro", @Model.account)"  >Aplicar</a>
=======
        <a asp-page = "./Registro" class="btn btn-primary">Aplicar</a>
>>>>>>> 60f20aaa57d4b0c51e44fd19f6bbb4e69828bb5b
  </div>
</div>