@page
@model Proyecto.SingInModel
@{
}
<form method="POST">
    <div class="form-row m-3">
    <div class="col">
        <div class="form-group mx-sm-3 mb-2">
            <label for="user">Correo:</label>
            <input asp-for="account.Correo" type="text" class="form-control" required>
        </div>
    </div>
   <div class="form-row m-3">
        <div class="form-group mx-sm-3 mb-2">
            <label for="user">Contraseña</label>
            <input asp-for="account.Password" type="Password" class="form-control" required>
        </div>
    </div>
    <div class="form-row m-3">
        <div class="form-group mx-sm-3 mb-2">
            <label for="user">Confirma Contraseña</label>
            <input type="Password" class="form-control" required>
        </div>
    </div>
    <div class="form-row m-3">
        <input type= "submit" value="Crear cuenta">
    </div>
</div>
</form>
 