@page
@model Proyecto.SingInModel
@{
}
<form>
    <div class="form-row m-3">
    <div class="col">
        <div class="form-group mx-sm-3 mb-2">
            <label for="user">Usuario:</label>
            <input type="text" class="form-control" required>
        </div>
    </div>
    <div class="col">
        <div class="form-group mx-sm-3 mb-2">
            <label for="user">Contraseña</label>
            <input type="Password" class="form-control" required>
        </div>
    </div>
</div>
</form>
 